body {
  background-color: #28303f;
  font: 14px 'Exo 2';
  color: #fafafa;
  margin: 0px;
}

.header {
  padding-top: 15px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-bottom-color: #FFF59D;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.header > h1 {
  font-family: 'Exo 2';
  font-size: 50px;
  font-weight: 100;
  color: #FFF59D;
  text-align: center;
  margin: 0px;
}

.usersContainer {
  margin-top: 50px;
  margin-bottom: 10px;
}

.introContainer > div{
  display: inline-block;
}

.introSentence {
  font-size: 20px;
  font-weight: 50;
  color: #FFF59D;
  text-align: left;
  margin-left: 10%;
}

.listContainer {
  margin: 5px auto 30px auto;
  width: 60%;
  min-width: 550px;
  background-color: #3b4457;
}

.addPlayerContainer {
text-align: right;
background-color: #28303f;
padding: 15px 5px 5px 10px;
}

.addPlayer {
  display: inline-block;
  text-align: center;
  color: #FFF59D;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid 2px;
  border-radius: 5px;
  border-color: #FFF59D;
  background-color: transparent;
  width: fit-content;
}

.addingPlayer {
  display: block;
  width: auto;
}

.newPlayerInput{
  text-align: center;
  color: #FFF59D;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid 2px;
  border-radius: 5px;
  border-color: #FFF59D;
  width: 100% ;
  background-color: #3b4457;
}

input:focus, button:focus, .spectateModalContent:focus{
  outline: none;
}

.newPlayerInput::placeholder{
  color: #28303f;
}

.listEntry {
  padding: 15px 10px 15px 10px;
  height: 32px;
  vertical-align: middle;
}

.playerNameEntry {
  color: #FFF59D;
  font-size: 20px;
  display: inline-block;
  width: 28%;
  margin-left: 5px;
}

.playerNameEntry > span {
  vertical-align: middle;
}

.gameInfo {
  display: inline-block;
  width: 50%;
  line-height: normal;
}

.gameInfo > span {
  vertical-align: middle;
}

.playingStatus {
  display: inline-block;
  width: 15%;
  text-align: right;
}

@keyframes playing {
  0% {background-color: #3b4457;}
  50% {background-color: #6a7895;}
  100% {background-color: #3b4457;}
}

.playerPlayingEntry {
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 50px;
  padding: 5px 10px 5px 10px;
  border: solid 2px;
  border-radius: 5px;
  vertical-align: middle;
}

.playingBorder {
  border-color: #4CAF50;
  color: #4CAF50;
  animation-name: playing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.offlineBorder {
  border-color: #F44336;
  color: #F44336;
}

.notificationContainer {
  text-align: center;
  min-height: 48px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  
}

.notification {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  border: solid 2px;
  border-radius: 5px;
  vertical-align: middle;
}

.notification.success {
  border-color: #4CAF50;
  background-color: #28303f;
  color: #4CAF50;
}

.notification.error {
  border-color: #F44336;
  background-color: #28303f;
  color: #F44336;
}

.deletePlayerButton {
  color:#E57373;
  background-color: inherit;
  border: none;
  padding: 0;
  font-size: 20px;
  font-weight: 200;
  vertical-align: middle;
}

.deletePlayerButton.invisible {
  visibility: hidden;
}

.queueName, .championName {
  font-size: 15px;
}

.spectateModal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.spectateModalContent {
  background-color: #3b4457;
  margin: auto;
  padding: 20px;
  border: solid 2px;
  border-radius: 5px;
  border-color: #FFF59D;
  width: 80%;
  max-width: 550px;
}

.spectateModal .introSentence {
  padding-bottom: 15px;
}