<div class="usersContainer">
  <div class="introContainer">
    <div class="introSentence">
      Hello {{vm.user.username}}! Check who is playing
    </div>
  </div>
  <div class="listContainer">
    <div class="addPlayerContainer">
      <div class="userSettingsButtonContainer" ng-click="vm.toggleUserSettingsModalVisible()" ng-bind-html="vm.addIcon('gear', {'class': 'userSettingsButton'})"></div>
      <input focus-on="newPlayerFocus" ng-if="vm.isAddingPlayer()" ng-blur="vm.toggleAddingPlayer()" class="newPlayerInput"
        ng-model="vm.playerInputText" ng-keydown="vm.addPlayer($event)" type="text" name="newPlayer" placeholder="Insert player name">
      <button class="addPlayer" ng-if="!vm.isAddingPlayer()" ng-click="vm.toggleAddingPlayer()">
          + Add Player
      </button>
    </div>
    <div class="listEntry" ng-repeat="player in vm.players | orderBy:'lastPlayedSeconds'" ng-mouseenter="vm.toggleDeleteButtonVis(player)"
      ng-mouseleave="vm.toggleDeleteButtonVis(player)">
      <button class = " deletePlayerButton" ng-click="vm.removePlayer(player.id)"
      ng-class="{'invisible' : !player.deleteButtonInvisible}" name="deletePlayer">X</button>
      <div class="playerNameEntry">
        <span>
          {{player.username}}
        </span>
      </div>
      <div class="gameInfo">
        <span ng-if="!player.playing">last played {{player.relevantSummoner.lastMatch.lastPlayed}} ago</span>
        <div class="playingContainer" ng-if="player.playing">
          playing <a class="queueName">{{player.relevantSummoner.currentMatch.playingQueue.shortName ||
            player.relevantSummoner.currentMatch.playingQueue.name}}</a> with <a class="championName">{{player.relevantSummoner.currentMatch.playingChampion.name}}</a>
        </div>
      </div>
      <div class="playingStatus">
        <span class="playerPlayingEntry" ng-class="{playingBorder: player.playing, offlineBorder: !player.playing}"
          ng-click="vm.copySpectateCommand(player)">
          {{vm.getPlayerStatus(player)}}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="userSettingsModal" ng-if="vm.isUserSettingsModalVisible" ng-click="vm.toggleUserSettingsModalVisible()">
  <div class="userSettingsModalContent" tabindex="0" focus-on="userSettingsModal" ng-click="$event.stopPropagation()"
    ng-keydown="vm.toggleUserSettingsModalVisible($event)">
    <div class="introSentence">
      User Settings
    </div>
    <div class="userSettingsList">
      <div class="userSettingsEntry">
        <div class="userSettingName">
            <span>Spectator Command</span>
        </div>
        <div class="userSettingOptions">
          <div class="settingRadioContainer">
            <span>Windows</span>
            <input type="radio" ng-model="vm.user.settings.system" ng-change="vm.changeUserSettings()" value="windows">
          </div>
          <div class="settingRadioContainer">
              <span>Mac</span>
              <input type="radio" ng-model="vm.user.settings.system" ng-change="vm.changeUserSettings()" value="mac">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 