<div class="playerContainer">
  <div class="playerTopBar">
    <div class="playerUsername">
      {{vm.player.firstName}} '{{vm.player.name}}' {{vm.player.lastName}}
    </div>

    <div class="playingStatus biggerPlayingStatus">
      <span class="playerPlayingEntry biggerPlayingEntry" ng-class="{playingBorder: vm.player.playing, offlineBorder: !vm.player.playing}"
      ng-click="vm.copySpectateCommand(vm.player.relevantSummoner)">
        {{vm.getPlayerStatus(vm.player)}}
      </span>
    </div>

  </div>
  <div class="playerInfo">
    <div class="photoColumn">
      <div class="playerPhotoContainer">
        <div class="playerPhoto">
          <span>image placeholder</span>
        </div>
      </div>
    </div>
    <div class="infoBoard">
      <div class="infoEntry" ng-repeat="info in vm.player.infoBoard">
        <span class="infoKey">{{info[0]}}:</span> {{info[1]}}
      </div>
    </div>
  </div>
  <div class="playerStats">
    Some player stats will go here
  </div>
  <entity-list 
    entities="vm.summoners"
    entity-input-text="vm.summonerInputText"
    add-entity="vm.addSummoner"
    remove-entity="vm.removeSummoner"
    get-entity-status="vm.getSummonerStatus"
    toggle-user-settings-modal-visible="vm.toggleUserSettingsModalVisible"
    copy-spectate-command="vm.copySpectateCommand"
    entity-type="'summoner'"
    settings="vm.user.settings"
    change-user-settings="vm.changeUserSettings"
  ></entity-list>

</div>